body {
    font-style: normal;
    font-family: Roboto, sans-serif;
    color: white;

}
.header {
    background-image: url('images/ba.jpg');
    background-attachment: fixed;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.navigation {
    display: flex;
    background-color: rgba(0, 0, 0, .2);
}
.logo{
    width: 50%;
    display: flex;
}
.logo p {
    margin-top: 1.5rem;
    font-size: x-large;
    font-style: inherit;
}
.logo img {
    width: 5rem;
    height: 5rem;
}
.nav{
    width: 40%;
    margin-top: 1rem;
    font-size: x-large;
}
.nav ul {
    display: flex;
}

.nav ul li a {
    color: white;
}
.btn {
    background-color: darkgreen;
    color: white;
    border-color: transparent;
    margin-top: 1.5rem;
    width: 5rem;
}

.text-center h1 {
    margin-top: 5rem;
    font-size: 4rem;
}
.text-center p {
    margin-top: 5rem;
    font-size: 2.5rem;
}
.order-btn {
    margin-top: 5rem;
    background-color: darkgreen;
    width: 10rem;
    height: 3rem;
}

/* about us */
.about h2{
    text-align: center;
    padding: .5rem;
    background-color:rgba(0, 0, 0, .9);
}
.about-us {
    display: flex;
}
.about-image{
    width: 50%;
}
.about-image img{
    width: 40rem;
    height: 25rem;
    margin-left: 1rem;
}
.about-text {
    width: 50%;
    background-color: darkgreen;
}
.about-text h3{
    text-align: center;
    padding: 1rem;
}
.about-text p {
    margin-top: 1.5rem;
}
.about-text p span {
    display: block;
    text-align: center;
    line-height: 2.5rem;
}
/* menu */
.menu h2 {
    text-align: center;
    padding: .5rem;
    background-color:rgba(0, 0, 0, .9);
}

.menu div {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

.menu article {
	width: 30%;
	margin: 1.5rem 0;
	border: none;
	border-radius: 3rem;
	box-shadow: -1px 2px 4px 1px rgba(0, 0, 0, 0.9);
	padding: 1.5rem;
    background-color: darkgreen;
}

.menu article img {
	width: 100%;
	display: inline-block;
	margin-bottom: 1.5rem;
}

.body h3 {
	font-size: 1.5rem;
	font-weight: 600;
    color:white;
	letter-spacing: 0.1rem;
	margin-bottom: 1.2rem;
}

/* order */
.order {
    background-image: url('images/ba.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}
.order h2{
    text-align: center;
    padding: .5rem;
    background-color:rgba(0, 0, 0, .9);
}
.order p {
    text-align: center;
    font-size: x-large;
}
.order-here{
    display: flex;
    background-color: rgba(0, 0, 0, .5);
}
.info p span{
    display: block;
}